/* 状态颜色 */
$color-income: #F1523A;
$color-expense: #14BA89;
$color-dark: #222222;
$color-gray: #333333;

/*background*/
$background-color-default: #F7F7F7; // 主背景色
$background-color-white: #fff;      // 白色
$background-color-table: #FAFAFA;   // 表格背景色

/*边框与内容边距*/
$content-padding: 30px;

/*page*/
$page-width: 900px;
$page-margin-top: 30px;
$page-padding: 30px 15px;

/*form item*/
$form-item-width: 190px;